/* ShortMovieDetails.module.css */

.container {
  position: relative;
  display: flex;
  align-items: center; /* Выравнивание элементов по верху контейнера */
  padding: 20px;
}

.poster {
  width: 30%; /* Устанавливает ширину изображения на 30% от родительского контейнера */
  max-width: 200px; /* Ограничивает максимальную ширину изображения */
  height: 325px; /* Высота изображения будет изменяться автоматически в зависимости от ширины */
  border-radius: 8px;
  margin-right: 20px; /* Отступ справа от изображения */
}

.details {
  width: 70%; /* Занимает оставшееся пространство контейнера */
}

.genresList {
  list-style-type: none;
  padding: 0;
}

.genreItem {
  margin-bottom: 8px;
}
